﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.Get("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetInt32("CurrentUserId");
    this.ViewData["Role"] = this.Context.Session.GetString("Role");

}
<!DOCTYPE HTML>
<html>
<head>
    <title>The Software Lab @ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-32x32.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a asp-controller="Home" asp-action="Index">Software forum</a> for all</h1>
            <nav id="nav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Posts" asp-action="Index">Posts</a></li>
                    @{
                        if (this.ViewData["Role"] != null)
                        {
                            <li><a asp-controller="User" asp-action="Index" asp-route-id="@this.ViewData["UserId"]">Profile</a></li>
                        }

                        if (this.ViewData["Role"] != null && ViewData["Role"].ToString().Equals("admin", StringComparison.InvariantCultureIgnoreCase))
                        {
                            <li><a asp-controller="User" asp-action="ShowUsers">Users</a></li>
                        }
                    }
                    <li><a asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                    @if (!(bool)this.ViewData["IsAuthenticated"])
                    {
                        <li><a asp-controller="Auth" asp-action="Login" class="button">Sign In</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Auth" asp-action="Logout" class="button">Sign Out</a></li>

                    }
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <!-- Main -->
        @RenderBody()

        <!-- Footer -->
        <footer id="footer" style="padding-top: 30px !important; padding-bottom: 40px !important;">

            <button class="btn open-button" style="border: solid; border-color: #137B13; color: #137B13; font-weight: bold; background-color: #E7FFE7; " onclick="openForm()">Assistant</button>
            <div class="chat-popup" id="myForm">
                <form class="form-chat">
                    <div>
                        <iframe src="https://webchat.botframework.com/embed/qna-service-bot-telerik-BOT?s=nVAZvewrHns.L2z_XZGnoQ4I3wM5IIDh0JO9n_iaTa1jmwaQnTJh3-g" style="height: 502px; max-height: 502px;"></iframe>
                    </div>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>

            <ul class="icons">
                <li><a href="https://gitlab.com/f1326/shareideas" class="icon brands fa-gitlab"><span class="label">Github</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; The Software Lab. All rights reserved.</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/chatBot.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</body>

</html>