﻿@model Forum.Models.UserViewModels.UsersListResponseViewModel

@{
    ViewData["Title"] = "Users";
}

<style>
    .card-footer {
        display: flex !important;
    }

    .user-options-btns {
        margin-left: auto;
    }

    #userslist-navigation {
        height: 52px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
        font-size: large;
        text-align: center;
    }
</style>
<div id="userslist-grid" class="card-body row card bg-light">
    <div class="card-body row" id="userslist-navigation">
        <div class="col-md-2">
            <p>Profile picture</p>
        </div>
        <div class="col-md-2">
            <p>Username</p>
        </div>
        <div class="col-md-2">
            <p>Display name</p>
        </div>
        <div class="col-md-3">
            <p>Email</p>
        </div>
        <div class="col-md-2">
            <p>Role</p>
        </div>
        <div class="col-md-1">
            <p>Rating</p>
        </div>
        <div class="card-body row">
        </div>
    </div>

    @foreach (var user in Model.UsersList)
    {
        <div class="card" style="padding:0 !important">
            <div class="card-body row">
                <div class="card-body row">
                    <div class="col-md-2">
                        <img src="@user.ProfileImageUrl" width="60px" />
                    </div>
                    <div class="col-md-2">
                        <p>@user.Username<P>
                    </div>
                    <div class="col-md-2">
                        <p>@user.DisplayName</p>
                    </div>
                    <div class="col-md-3">
                        <p>@user.Email</p>
                    </div>
                    <div class="col-md-2">
                        <p>@user.Role</p>
                    </div>
                    <div class="col-md-1">
                        <p>@user.Rating</p>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted">
                Member since: @user.MemberSince

                <div class="user-options-btns">
                    <span>
                        @if (!user.Blocked)
                        {
                            <a class="btn btn-outline-danger" asp-action="BlockUser" asp-route-id="@user.Id">Block</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-success" asp-action="UnblockUser" asp-route-id="@user.Id">Unblock</a>
                        }
                    </span>
                </div>
            </div>
        </div>
    }

</div>
<br>

<nav id="pagination-area" aria-label="..." style="padding-top:20px !important">
    <ul class="pagination justify-content-center"
                <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text>}">
            <a id="previous" class="page-link">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0 && Model.PageNumber - i == 3)
            {
                <li class="page-item"><a id="previous-first" class="page-link">@i</a></li>
            }
            else if (i > 0 && Model.PageNumber - i == 2)
            {
                <li class="page-item"><a id="previous-second" class="page-link">@i</a></li>
            }
            else if (i > 0 && Model.PageNumber - i == 1)
            {
                <li class="page-item"><a id="previous-third" class="page-link">@i</a></li>
            }
        }

        <li class="page-item active" aria-current="page">
            <span class="page-link">@Model.PageNumber</span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount && i - Model.PageNumber == 1)
            {
                <li id="next-first" class="page-item"><a class="page-link">@i</a></li>
            }
            else if (i <= Model.PagesCount && i - Model.PageNumber == 2)
            {
                <li id="next-second" class="page-item"><a class="page-link">@i</a></li>
            }
            else if (i <= Model.PagesCount && i - Model.PageNumber == 3)
            {
                <li id="next-third" class="page-item"><a class="page-link">@i</a></li>
            }
        }

        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text>}">
            <a class="page-link" id="next">Next</a>
        </li>
    </ul>
</nav>



