﻿@model Forum.Models.UserRegistrationViewModel

    <style>
        .banner-login {
            padding-bottom: 100px !important;
        }
    </style>
    <section id="banner" class="banner-login">
    </section>
    <section id="main" class="container">
        <section class="vh-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                        <div>
                                            @if (Model.Successfull)
                                            {
                                                <div class="alert alert-success">
                                                    <strong>@Model.Message</strong><b>@ViewBag.Message </b>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-danger">
                                                    <strong>@Model.Message</strong>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        </section>
