﻿@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Posts";
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetInt32("CurrentUserId");
    this.ViewData["Role"] = this.Context.Session.GetString("Role");
    this.ViewData["UserEmail"] = this.Context.Session.GetString("CurrentUserEmail");
    this.ViewData["UserPassword"] = this.Context.Session.GetString("CurrentUserPassword");
}


<input type="hidden" id="userEmail" value="@this.ViewData["UserEmail"]">
<input type="hidden" id="userPassword" value="@this.ViewData["UserPassword"]">

<section id="banner" class="post-banner">
    <h2>
        All Posts
    </h2>
</section>


<div class="container">

    <div class="posts-containeer">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
            <span class="fs-4">Sort</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" style=" margin-bottom: 0px !important">

                <li style="margin-bottom: 30px">
                    Sorting optin
                    <br />
                    <select id="sorting-options-posts" class="form-select" aria-label="Sort by">
                        <option value="date">Date</option>
                        <option value="comments">Comments</option>
                        <option value="likes">Likes</option>
                    </select>
                </li>
                <li style="margin-bottom: 30px">
                    Sorting option
                    <br />
                    <select id="sorting-direction-posts" class="form-select" aria-label="Default select example">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </li>
            </ul>
            <span class="fs-4">Filter</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" style="margin-bottom: 0px !important;">

                <li>
                    <div class="btn-group dropend">
                        <a class="nav-link link-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Date
                        </a>
                        <ul class="dropdown-menu" style="width: 250px !important">
                            <li>
                                From: &nbsp
                                <input id="filter-start-date-posts" type="date" />
                            </li>
                            <li>
                                To:&nbsp &nbsp &nbsp &nbsp
                                <input id="filter-end-date-posts" type="date" />
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="btn-group dropend">
                        <a class="nav-link link-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Title
                        </a>
                        <ul class="dropdown-menu" style="width: 300px !important">
                            <li>
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="searchInput" class="form-control" />
                                    </div>
                                    <button type="button" class="btn btn-secondary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <hr>
            <button id="btn-filters" type="button" onclick="filterPosts()" class="btn btn-secondary">Apply</button>
        </div>

        <div id="posts-table" class="forum-container">
            <div id="spinner" class="loading loading--full-height"></div>
        </div>


    </div>
    <div class="text-center text-primary add-post">
        @if (!(bool)this.ViewData["IsAuthenticated"])
        {
            <h3>You need to SignIn to create POST!</h3>
        }
        else
        {
            <button type="button" class="btn-post-reply btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#postModal">Create Post</button>

        }
    </div>
</div>


<!-- Add Post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-body">

                        <div class="mb-3">
                            <h5 id="addPostHead" style="color:red;"></h5>
                            <label id="postReplyTitleLabel" class="form-label">Title</label>
                            <input class="form-control" id="postTitleInput" required>
                            @*<input type="hidden" class="form-control" id="userId" value="@this.ViewData["UserId"]">*@
                        </div>
                        <div class="mb-3">
                            <label id="postReplyCommentLabel" class="form-label">Comment</label>
                            <textarea type="text" class="form-control" id="postCommentInput" style="height:160px" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="addPostBtn" class="btn btn-primary">Add Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Posts/index.js"></script>
