﻿@model Forum.Models.PostViewModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Post";
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["UserId"] = this.Context.Session.GetInt32("CurrentUserId");
    this.ViewData["Role"] = this.Context.Session.GetString("Role");
    this.ViewData["UserEmail"] = this.Context.Session.GetString("CurrentUserEmail");
    this.ViewData["UserPassword"] = this.Context.Session.GetString("CurrentUserPassword");
}


<input type="hidden" id="userEmailPost" value="@this.ViewData["UserEmail"]">
<input type="hidden" id="userPasswordPost" value="@this.ViewData["UserPassword"]">
<input type="hidden" id="postId" value="@Model.Id">
<input type="hidden" id="userId" value="@this.ViewData["UserId"]">

<section id="banner">
    <h2 id="post-title">@Model.Title</h2>
    <a asp-action="Index" class="button">Back to posts</a>
</section>
<section id="main" class="container">
    <div class="card">
        <div id="liveAlertPlaceholderDelete"></div>
        <div id="liveAlertPlaceholderEdit"></div>
        <div class="card-body row">
            <div class="col-2 text-center">
                <img src="@Model.OwnerPicture" width="60px" />
                <br />
                <p>@Model.OwnerName</p>
                Points:
                (@Model.OwnerRating)
                <br />
                @if (!(bool)this.ViewData["IsAuthenticated"])
                {
                    <i class="far fa-thumbs-up fa-lg "></i>
                    <p id="post-likes-count" style="display:inline">@Model.Likes.Count</p>

                }
                else if (!Model.Likes.Contains(this.ViewData["UserEmail"]))
                {

                    <i id="like-btn" onclick="likePost()" class="far fa-thumbs-up fa-lg like-btn"></i>
                    <i id="remove-like-btn" onclick="dislikePost()" class="fa fa-thumbs-up fa-lg like-btn" style="display:none;"></i>
                    <p id="post-likes-count" style="display:inline">@Model.Likes.Count</p>

                }
                else
                {
                    <i id="like-btn" onclick="likePost()" class="far fa-thumbs-up fa-lg like-btn" style="display:none;"></i>
                    <i id="remove-like-btn" onclick="dislikePost()" class="fa fa-thumbs-up fa-lg like-btn"></i>
                    <p id="post-likes-count" style="display:inline">@Model.Likes.Count</p>
                }
            </div>
            <div class="col-10">
                <p id="post-content" class="card-text"> @Model.Description</p>
            </div>
        </div>
        <div class="card-footer text-muted">
            Posted on: @Model.DateCreated
            @if ((this.ViewData["Role"] != null && ViewData["Role"].ToString().ToLower() == "admin")
   || (this.ViewData["UserId"] != null && this.ViewData["UserId"].Equals(Model.OwnerId)))
            {
                <div class="post-options-btns">
                    <button type="button" class="btn btn-outline-success" onclick="addPostDataToFields()" data-bs-toggle="modal" data-bs-target="#editPostModal">Edit</button>
                    <button type="button" class="btn btn-outline-danger" onclick="showDeleteAlertPost(@Model.Id)">Delete</button>
                </div>
            }
        </div>
    </div>

    <br />

    <div class="text-center text-primary">
        @if (Model.Comments.Any())
        {

            @if (!(bool)this.ViewData["IsAuthenticated"])
            {
                <h3>You need to Sign In to post reply!</h3>
            }
            else
            {
                <button onclick="clearInputs();" type="button" class="btn-post-reply btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#postReplyModal">Add Reply</button>
            }
        }
        else
        {
            <h3 id="noPostReply">There are no replies to this post</h3>
            @if (!(bool)this.ViewData["IsAuthenticated"])
            {
                <h3>You need to Sign In to post reply!</h3>
                <br />
            }
            else
            {
                <button type="button" onclick="clearInputs();" class="btn-post-reply btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#postReplyModal">Add Reply</button>
            }
        }
    </div>
    <br />
    <div id="comments">
        @if (Model.Comments.Any())
        {
            @foreach (var comment in Model.Comments.Reverse())
            {
                <div id="comment-@comment.Id">
                    <div class="card">

                        <div id="editAlertPlaceholder-@comment.Id"></div>
                        <div id="liveAlertPlaceholder-@comment.Id"></div>
                        <div class="card-body row">
                            <div class="col-2 text-center">
                                <img src="@comment.OwnerProfilePicture" width="60px" />
                                <br />
                                <p>@comment.OwnerName</p>
                                <br />
                                Points:
                                (@comment.OnwerRating)

                            </div>
                            <div class="col-10">
                                <p class="card-text comment-title" id="comment-tittle-@comment.Id"> @comment.Title</p>
                                <p class="card-text" id="comment-content-@comment.Id"> @comment.Content</p>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on: @comment.DateCreated
                            @if ((this.ViewData["Role"] != null && ViewData["Role"].ToString().ToLower() == "admin")
         || (this.ViewData["UserId"] != null && this.ViewData["UserId"].Equals(Model.OwnerId)))
                            {
                                <div class="post-options-btns">
                                    <button type="button" class="btn btn-outline-success" onclick="addCommentDataToFields(@comment.Id)" data-bs-toggle="modal" data-bs-target="#editPostReplyModal">Edit</button>
                                    <button type="button" class="btn btn-outline-danger" onclick="showDeleteAlertComment(@comment.Id)">Delete</button>
                                </div>
                            }
                        </div>
                    </div>
                    <br>
                </div>

            }
        }
    </div>
    @*<div id="noPostReply" class="text-center text-primary">

            @if (!Model.Comments.Any())
            {
                <h3>There are no replies to this post</h3>
                @if (!(bool)this.ViewData["IsAuthenticated"])
                {
                    <h3>You need to Sign In to post reply!</h3>
                    <br />
                }
                else
                {
                    <button type="button" class="btn-post-reply btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#postReplyModal">Add Reply</button>
                }
            }
        </div>*@
    <br />
</section>
<!-- Add Post Modal -->
<div class="modal fade" id="postReplyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add reply to: @Model.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-body">

                        <div class="mb-3">
                            <h5 id="addCommentHead" style="color:green;"></h5>
                            <h5 id="editCommentHeadError" style="color:red;"></h5>

                            <label id="postReplyTitleLabel" class="form-label">Title</label>
                            <input class="form-control" id="postReplyTitleInput" required>
                            <input type="hidden" class="form-control" id="postId" value="@Model.Id">
                            @*<input type="hidden" class="form-control" id="userId" value="@this.ViewData["UserId"]">*@
                        </div>
                        <div class="mb-3">
                            <label id="postReplyCommentLabel" class="form-label">Comment</label>
                            <textarea type="text" class="form-control" id="postReplyCommentInput" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="exit-reply-model" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="addPostReplyBtn" class="btn btn-primary">Add reply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Comment Modal -->
<div class="modal fade" id="editPostReplyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-body">

                        <div class="mb-3">
                            <h5 id="editCommentHead" style="color:green;"></h5>

                            <label id="editPostReplyTitleLabel" class="form-label">Title</label>
                            <input class="form-control" id="editPostReplyTitleInput">
                            <input type="hidden" class="form-control" id="editPostReplyId">
                        </div>
                        <div class="mb-3">
                            <label id="editPostReplyCommentLabel" class="form-label">Comment</label>
                            <textarea type="text" class="form-control" id="editPostReplyCommentInput" style="height:160px" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="exit-reply-model-edit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="editPostReplyBtn" onclick="editComment()" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Post Modal -->
<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-body">

                        <div class="mb-3">
                            <h5 id="editPostHead" style="color:green;"></h5>

                            <label id="editPostTitleLabel" class="form-label">Title</label>
                            <input class="form-control" id="editPostTitleInput">
                            <input type="hidden" class="form-control" id="editPostId">
                        </div>
                        <div class="mb-3">
                            <label id="editPostCommentLabel" class="form-label">Comment</label>
                            <textarea type="text" class="form-control" id="editPostCommentInput" style="height:160px" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="exit-post-model-edit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="editPostBtn" onclick="editPost()" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Posts/post.js"></script>