﻿@model Forum.Models.UserViewModels.UserResponseViewModel
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["Title"] = "Block user";
}
<style>
    .title-text {
        text-align: center !important;
        text-size-adjust: auto;
    }

    .user-options-btns {
        text-align: center;
    }

    #delete-button {
        padding-right: 10px !important;
    }

    #block-button {
    margin-right: 10px !important;
    }
    .user-table-navigation {
        height: 52px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
        font-size: large;
        text-align: center;
    }

    #buttons-block-user {
        margin-top: 20px;
        text-align: center;
    }
    .user-table-navigation-title {
    color:black;
    background-color:
    }
    #user-table-information {
    text-align:center;
    }
</style>
<section id="banner" class="post-banner">
</section>
<section class="container" style="max-width: 1320px !important">
    <div class="forum-container">
        <div class="card-body row card">
            <div id="title-text" style="text-align: center;">
                <h5 class="user-table-navigation-title">Please confirm the below user has to be blocked</h5>
            </div>
        </div>
        <div id="user-table-information" class="card-body row card bg-light">
            <div class="user-table-navigation card-body row">
                <div class="col-md-2">
                    <p>Profile picture</p>
                </div>
                <div class="col-md-2">
                    <p>Username</p>
                </div>
                <div class="col-md-2">
                    <p>Display name</p>
                </div>
                <div class="col-md-2">
                    <p>Email</p>
                </div>
                <div class="col-md-2">
                    <p>Role</p>
                </div>
                <div class="col-md-2">
                    <p>Rating</p>
                </div>
                <div class="card-body row">
                </div>
            </div>
            <div class="card" style="padding:0 !important">
                <div class="card-body row">
                    <div class="card-body row">
                        <div class="col-md-2">
                            <img src="@Model.ProfileImageUrl" width="60px" />
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Username<P>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.DisplayName</p>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Email</p>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Role</p>
                        </div>
                        <div class="col-md-2">
                            <p>@Model.Rating</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="user-options-btns">

                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-block-user" >
            <a id="block-button" class="btn btn-outline-danger" asp-action="BlockUserConfirmation" asp-route-id="@Model.Id">Confirm</a>
            <a class="btn btn-outline-primary" asp-action="ShowUsers">Back</a>
        </div>
    </div>
</section>
