﻿@{ ViewData["Title"] = "Profile"; }
@model Forum.Models.UserViewModel

<section id="banner">
    <h2>User Profile</h2>

</section>
<section id="main" class="container">
    <div class="row ">
        <div class="col-md-4 text-center">
            <img src="@Model.ProfileImagePath" style="max-width: 200px" />
        </div>



        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Username</h5>
                    <h6 id="DisplayName" class="card-title">Display Name: @Model.DisplayName</h6>
                    <p class="card-text">
                        @if (Model.Role.ToLower() == "admin")
                        {
                            <span class="badge badge-dark admin-badge">Admin</span>
                            <br />
                        }
                        @if (Model.Role.ToLower() == "moderator")
                        {
                            <span class="badge badge-success moderator-badge">Moderator</span>
                            <br />
                        }
                        <span id="userRating">Current Rating: @Model.Rating</span>
                        <br />
                        <span id="userEmailLabel">Email: @Model.Email</span> <br />
                        <span id="userCreatedLabel">Member Since: @Model.MemberSince</span> <br />
                        <span id="userActiveLabel"></span>
                    </p>
                    <div class="dropdown">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage your account
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <!-- Button trigger modal Email-->
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ChnageEmailModal">Change Email</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ChnagePasswordModal">Change Password</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ChnageDisplayNameModal">Change Display name</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#UpdateProfilePictureModal" href="#">Change Profile picture</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Email-->
<div class="modal fade" id="ChnageEmailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="mb-3">
                        <h5 id="changeEmailHead"></h5>
                        <h5 id="emailWrongPassword"></h5>

                        <label id="changeEmailLabel" for="exampleInputEmail1" class="form-label">New Email address</label>
                        <input type="email" class="form-control" id="newEmailValue" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        <input type="hidden" class="form-control" id="emailId" value="@Model.UserId">
                    </div>
                    <div class="mb-3">
                        <label id="emailPasswordLabel" for="exampleInputPassword1" class="form-label">Password</label>
                        <input id="emailPassword" type="password" class="form-control">
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="changeEmail" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal DisplayName-->
<div class="modal fade" id="ChnageDisplayNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Display name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="mb-3">
                        <h5 id="changeDisplayNameHead"></h5>
                        <h5 id="displayNameWrongPassword"></h5>

                        <label class="form-label" id="changeDisplayNameLabel">New Display name</label>
                        <input class="form-control" id="displayNameInput">
                        <input type="hidden" class="form-control" id="displayNameId" value="@Model.UserId">
                    </div>
                    <div class="mb-3">
                        <label id="displayNamePasswordLabel" for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="displayNamePassword">
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="changeDisplayName" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Password-->
<div class="modal fade" id="ChnagePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="mb-3">
                        <h5 id="changePasswordHead"></h5>
                        <h5 id="passwordWrongPassword"></h5>

                        <label id="oldPasswordLabel" for="exampleInputPassword1" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="oldPasswordValue">
                        <input type="hidden" class="form-control" id="passwordlId" value="@Model.UserId">
                    </div>

                    <div class="mb-3">
                        <label id="newPasswordLabel" for="exampleInputPassword1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPasswordValue">
                    </div>
                    <div class="mb-3">
                        <label id="repeatPasswordLabel" for="exampleInputPassword1" class="form-label">Repeat New Password</label>
                        <input type="password" class="form-control" id="repeatPasswordValue">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="changePassword" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Image-->
<div class="modal fade" id="UpdateProfilePictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update your profile picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-action="ProfilePicture">
                <div class="modal-body">
                    <input asp-for="NewImage" type="file" name="image" id="image" />
                    <input asp-for="UserId" type="hidden" class="form-control" id="profileImageUserId" value="@Model.UserId">
                </div>
                <div style="display:none">
                    <img class="img-responsive" id="myUploadedImg" alt="image" style="width:100px;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button @*href="#"*@ type="submit" id="updateProfilePicture" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#changeDisplayName', function () {

        const id = document.getElementById('displayNameId').value;;
        const newDisplayName = document.getElementById('displayNameInput').value;
        const password = document.getElementById('displayNamePassword').value;

        $.ajax({
            url: 'http://localhost:6001/api/Users/ChangeDisplayName',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'PATCH',
            dataType: 'json',
            data: JSON.stringify({
                "Id": id,
                "NewDisplayName": newDisplayName,
                "Password": password
            }),

            success: function (response) {
                document.getElementById("displayNameInput").style.display = "none";
                document.getElementById("changeDisplayNameLabel").style.display = "none";
                document.getElementById("displayNamePasswordLabel").style.display = "none";
                document.getElementById("displayNamePassword").style.display = "none";

                document.getElementById("DisplayName").innerHTML = `DisplayName: ${newDisplayName}`;
                document.getElementById("changeDisplayNameHead").innerHTML = `Display Name UPDATED`;
                document.getElementById("displayNameWrongPassword").innerHTML = ``;

            },
            error: function () {
                document.getElementById("displayNameWrongPassword").innerHTML = `WRONG password`;
            }
        }
        )

    });

    $(document).on('click', '#changeEmail', function () {

        const id = document.getElementById('emailId').value;;
        const newEmail = document.getElementById('newEmailValue').value;
        const password = document.getElementById('emailPassword').value;
        $.ajax({
            url: 'http://localhost:6001/api/Users/Email',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'PATCH',
            dataType: 'json',
            data: JSON.stringify({
                "Id": id,
                "NewEmail": newEmail,
                "Password": password
            }),
            success: function (response) {
                document.getElementById("newEmailValue").style.display = "none";
                document.getElementById("changeEmailLabel").style.display = "none";
                document.getElementById("emailHelp").style.display = "none";

                document.getElementById("emailPasswordLabel").style.display = "none";
                document.getElementById("emailPassword").style.display = "none";

                document.getElementById("userEmailLabel").innerHTML = `Email: ${newEmail}`;
                document.getElementById("changeEmailHead").innerHTML = `Email UPDATED`;
                document.getElementById("emailWrongPassword").innerHTML = ``;

            },
            error: function () {
                document.getElementById("emailWrongPassword").innerHTML = `WRONG password`;
            }
        }
        )

    });

    $(document).on('click', '#changePassword', function () {

        const id = document.getElementById('passwordlId').value;;
        const oldPassword = document.getElementById('oldPasswordValue').value;
        const newPassword = document.getElementById('newPasswordValue').value;
        const repeatPassword = document.getElementById('repeatPasswordValue').value;
        if (newPassword != repeatPassword) {
            document.getElementById("passwordWrongPassword").innerHTML = `Passwords don't match`;
        } else {
            $.ajax({
                url: 'http://localhost:6001/api/Users/Password',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'PATCH',
                dataType: 'json',
                data: JSON.stringify({
                    "Id": id,
                    "OldPassword": oldPassword,
                    "NewPassword": newPassword
                }),
                success: function (response) {
                    document.getElementById("oldPasswordLabel").style.display = "none";
                    document.getElementById("oldPasswordValue").style.display = "none";

                    document.getElementById("newPasswordLabel").style.display = "none";
                    document.getElementById("newPasswordValue").style.display = "none";

                    document.getElementById("repeatPasswordLabel").style.display = "none";
                    document.getElementById("repeatPasswordValue").style.display = "none";

                    document.getElementById("changePasswordHead").innerHTML = `Password UPDATED`;
                    document.getElementById("passwordWrongPassword").innerHTML = ``;

                },
                error: function () {
                    document.getElementById("passwordWrongPassword").innerHTML = `WRONG password`;
                }
            }
            )
        }
    });

    $(document).on('click', '#updateProfilePicture', function () {
        const id = document.getElementById('profileImageUserId').value;;
        var imageFile = $('#image').get(0).imageFile;
        var data = new FormData();
        data.append("Id", id);
        data.append("Image", imageFile[0]);

        $.ajax({
            type: "Post",
            url: 'http://localhost:5000/UserApi/ProfilePicture',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            data: data,
            contentType: false,
            processData: false,

            success: function (response) {
                alert('ok');
            },
            error: function () {
                alert('bad');
            }
        })
    });
</script>