﻿@{ ViewData["Title"] = "Users"; }

<section id="banner" class="post-banner">
    <h2>
        All Users
    </h2>
    <div>
        <div id="search-form" class="input-group search-posts">
            <input id="searchValue" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" />
            <button type="button" class="btn btn-dark" id="search">Search</button>
        </div>
    </div>
</section>
<section class="container" style="max-width: 1320px !important">


    <div class="forum-container">
        <div class="grid-container">
            <div class="grid-child-first">
                <div id="filter-form" class="d-flex flex-column flex-shrink-0 p-3 bg-light">
                    <form>
                        <div class="form-row">
                            <h6>Order by:</h6>
                            <br />
                            <select id="sortType" name="sortType" class="form-control">
                                <option selected>Username</option>
                                <option>Email</option>
                                <option>Rating</option>
                            </select>
                            <br />
                            <label>Direction:</label>
                            <select id="sortdirection" name="direction" class="form-control">
                                <option selected>Ascending</option>
                                <option>Descending</option>
                            </select>
                            <br />
                            <h6>Filters:</h6>
                            <br />
                            <label>Rating:</label>
                            <input id="rating" type="text" name="rating" style="background-color:white">
                            <br />
                            <label>User status:</label>
                            <select id="userStatus" name="userStatus" class="form-control">
                                <option selected>All</option>
                                <option>Blocked</option>
                                <option>Unblocked</option>
                            </select>
                        </div>
                        <button id="btn-submit-filters" type="button" class="btn btn-secondary">Apply</button>
                    </form>
                </div>
            </div>
            <div class="grid-child-second">
                <div id="container-table" class="users-container">

                </div>

            </div>
        </div>



    </div>

</section>


<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>

<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>

<script src="~/js/Users/tableUsers.js"></script>