﻿<style>
    #email-style {
        color: blue;
        text-align: center;
    }
    #contact-us-content {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: large;
    }
    #contact-us-header {
        margin-top: 30px;
        text-align: center;
    }

</style>

<section id="banner">
    <h2>Contact Us</h2>
    <p>Tell us what you think about our forum.</p>
</section>
<section id="main" class="container medium">
    <div class="box">
        <h4 id="contact-us-header">If you have any questions, please, do not hesitate do contact us.</h4>
        <p id="contact-us-content">You can find us on email: <p id="email-style">shareideas.forum2021@gmail.com </p></p>
        <div class="col-12">
            <ul class="actions special">
                <li><a asp-action="Index" class="btn btn-secondary">Back</a></li>
            </ul>
        </div>
    </div>
</section>