﻿@using Microsoft.AspNetCore.Http;
@model Forum.Models.HomeViewModel
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.Get("CurrentUser");
    this.ViewData["Role"] = this.Context.Session.GetString("Role");
    this.ViewData["UserId"] = this.Context.Session.GetInt32("CurrentUserId");
    ViewData["Title"] = "Home Page";
}

<!-- Banner -->
<section id="banner">
    <h2>The Software Lab</h2>
    <p>The Forum for everything you need!</p>
    <ul class="actions special">
        @{
            if (!(bool)this.ViewData["IsAuthenticated"])
            {
                <li><a asp-controller="Auth" asp-action="Login" class="button primary">Sign In</a></li>
            }
            else
            {
                <li><a asp-controller="User" asp-action="Index" asp-route-id="@this.ViewData["UserId"]" class="button primary">Profile</a></li>
            }
        }
        <li><a asp-controller="Posts" asp-action="Index" class="button">Posts</a></li>
    </ul>
</section>

<section id="main" class="container">

    <section class="box special">
        <header class="major">
            <h2>
                Forum for sharing software tips and tricks
            </h2>
            <p style="margin-bottom: 40px; font-weight: bold">
                Here are some of our recent posts and <br />
                some of the most popular ones.
            </p>
        </header>
    </section>
        <div style="display:flex" >
            <div class="forum-container fill-container">
                <p style="text-align: center; font-size: x-large; font-weight: bold; font-style: inherit; margin-bottom: 30px">The Software Lab's popular posts:</p>

                @{
                    @foreach (var post in Model.topMostCommentedPostsViewModel)
                    {

                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                    </div>
                                    <a href="/Posts/Post/@post.Id" class="forum-item-title">@post.Title</a>
                                    <div class="forum-sub-title">@post.Content </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>

            <div class="forum-container fill-container">
                <p style="text-align: center; font-size: x-large; font-weight: bold; font-style: inherit; margin-bottom: 30px">The Software Lab's latest posts:</p>

                @{
                    @foreach (var post in Model.latestPostsViewModel)
                    {

                        <div class="forum-item">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                    </div>
                                    <a href="/Posts/Post/@post.Id" class="forum-item-title">@post.Title</a>
                                    <div class="forum-sub-title">@post.Content </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>

        </div>
  

    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon solid major fa-users accent3"></span>
                <h3>Forum users: @Model.NumberUsers</h3>
            </section>
            <section>
                <span class="icon solid major fa-comments accent4"></span>
                <h3>Created posts: @Model.NumberCreatedPosts</h3>
            </section>
        </div>
    </section>
    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon solid major fa-bolt accent2"></span>
                <h3>Forum rules</h3>
                <p>
                    Please be considerate in language you use on the forum, some of our members are younger than
                    others. Swearing is not completely banned, just do not swear unnecessarily, and only use
                    minor words. A filter is in place to safeguard this system.
                </p>
            </section>
            <section>
                <span class="icon solid major fa-ban accent5"></span>
                <h3>Insulting</h3>
                <p> Insulting and flaming or personal attacks against forum staff will be not tolerated.</p>
            </section>
        </div>
    </section>
</section>