﻿<section id="banner">
    <h2>BG-Tatko</h2>
    <p>The Forum for everything!</p>
</section>
<section id="main" class="container">

    <div class="box">
        <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
        <h3>Internet forum</h3>
        <p>
            An Internet forum, or message board, is an online discussion site where people can hold conversations in the form of posted messages. They differ from chat rooms in that
            messages are often longer than one line of text, and are at least temporarily archived. Also, depending on the access level of a user or the forum set-up, a posted message
            might need to be approved by a moderator before it becomes publicly visible.
        </p>
        <div class="row">
            <div class="row-6 row-12-mobilep">
                <h3>Topic</h3>
                <p>
                    Forums have a specific set of jargon associated with them; example: a single conversation is called a "thread", or topic.
                </p>
            </div>
        </div>
    </div>
</section>